# Filesystem types
type sensors_data_file, file_type, data_file_type;
type firmware_ducati, file_type; 
type cbd_device, dev_type;
type radio_data, file_type;
